
<!-- Common used styles -->
<dom-module id="main-css">
    <template>
        <style>

        :host{
            font-family: DIN, Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;  /* OS X subpixel AA bleed bug */
            text-rendering: optimizeLegibility;
        }
        .main-title {
            margin-top: 30px;
            margin-bottom: 40px;
            color: #FFE900;
            font-size: 35px;
        }
        .sub-title {
            color: #FFE900;
            font-size: 25px;
            border-bottom: solid 1px grey;
            padding-bottom: 10px;
        }
        .button-primary {
            height: 34px;
            text-transform: none;
            background-color: #9c8f00;
            color: #FFF;
            border-radius: 16px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .button-primary[disabled]{
            background-color: #BBB;
        }
        </style>
    </template>
</dom-module>
