
<dom-module id="vaadingrid-css" theme-for="vaadin-grid">
    <template>
        <style>

        /* font-family: Roboto, sans-serif; */
        font-family: DIN, Helvetica, Arial, sans-serif;

        /* --divider-color: rgba(0, 0, 0, var(--dark-divider-opacity));
        --vaadin-grid-cell: {
        padding: 0;
        }; */

        [role="grid"]:focus {
            outline:0;
        }
        [part~="cell"]:focus {
            outline:0;
        }
        [part~="header-cell"] {
            height: 60px;
            color: #FFF;
            font-size: 14px;
            background-color:rgba(128, 128, 128, 0.60);
            padding-left: 5px;
            border-top: solid 2px #FFE900;
        }
        [part~="body-cell"] {
            height: 40px;
            color: #FFF;
            font-size: 14px;
            padding-left: 5px;
        }
        [part~="footer-cell"] {
            height: 40px;
            color: black;
            font-size: 13px;
            padding-left: 5px;
            font-weight:400;
            background-color: #fbf7f7;
        }
        [part="row"] {
            border-right: solid 1px rgba(0, 0, 0, var(--dark-divider-opacity));
            border-left: solid 1px rgba(0, 0, 0, var(--dark-divider-opacity));
            border-bottom: solid 1px rgba(0, 0, 0, var(--dark-divider-opacity));
        }
        [part="row"]:hover {
            background-color:rgba(128, 128, 128, 0.40);
        }


        /* vaadin-grid {

            font-family: Roboto, sans-serif;
                --divider-color: rgba(0, 0, 0, var(--dark-divider-opacity));
                --vaadin-grid-cell: {
                padding: 0;
            };
            --vaadin-grid-header-cell: {
                height: 60px;
                color: black;
                font-size: 12px;
                background-color: #fbf7f7;
                padding-left: 5px;
            };

            --vaadin-grid-body-cell: {
                height: 40px;
                color: rgba(0, 0, 0, var(--dark-primary-opacity));
                font-size: 13px;
                padding-left: 5px;
            };
            --vaadin-grid-body-row-hover-cell: {
                background-color: var(--paper-grey-200);
            };
            --vaadin-grid-body-row-selected-cell: {
                background-color: var(--paper-grey-100);
            };
            --vaadin-grid-focused-cell: {
                box-shadow: none;
                font-weight: bold;
            };

        } */

        vaadin-grid .cell {
            overflow: visible;
            overflow-wrap: normal;
            padding-right: 26px;
        }
        vaadin-grid .cell.last {
            padding-right: 16px;
        }
        vaadin-grid .cell.first {
            margin-left: 15px;
        }
        vaadin-grid .cell.numeric {
            text-align: right;
        }
        vaadin-grid .cell.group {
            text-align: center;
            margin-left: 60px;
            font-weight: 600;
        }
        vaadin-grid paper-checkbox {
            --primary-color: var(--paper-indigo-500);
            margin: 0 24px;
        }
        vaadin-grid vaadin-grid-sorter {
            --vaadin-grid-sorter-arrow: {
                display: none !important;
            };
        }
        vaadin-grid vaadin-grid-sorter .cell {
            flex: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        vaadin-grid vaadin-grid-sorter iron-icon {
            transform: scale(0.8);
        }
        vaadin-grid vaadin-grid-sorter:not([direction]) iron-icon {
            color: rgba(0, 0, 0, var(--dark-disabled-opacity));
        }
        vaadin-grid vaadin-grid-sorter[direction] {
            color: rgba(0, 0, 0, var(--dark-primary-opacity));
        }
        vaadin-grid vaadin-grid-sorter[direction=desc] iron-icon {
            transform: scale(0.8) rotate(180deg);
        }
        .boton-eliminar {
            background-color: #d24841;
            color: #FFF;
            height: 27px;
            border-radius: 5px;
            text-transform: none;
        }
        .boton-seleccionar {
            background-color: #FF6D00;
            color: #FFF;
            height: 22px;
            border-radius: 6px;
            text-transform: none;
        }

        </style>
    </template>
</dom-module>
