<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/iron-media-query/iron-media-query.html">

<link rel="import" href="../css-elements/main-css.html">
<link rel="import" href="../css-elements/flexboxgrid-css.html">
<link rel="import" href="../css-elements/vaadingrid-css.html">

<link rel="import" href="../star-searcher/star-searcher.html">

<dom-module id="star-people">
    <template>

        <style include="main-css flexboxgrid-css vaadingrid-css">

            vaadin-grid {
                margin-top: 20px;
                min-height: 900;
            }
            .detail-title {
                margin-bottom: 10px;
            }
            .detail-content {
                background-image: url('/images/hash.png');
                background-size: 7px;
                background-repeat: repeat-x;
                background-position: top left;
                background-color: #292727;

                font-size:15px;
                font-weight:300;
                padding: 10px !important;
                margin: 10px !important;
                display: flex;
                justify-content: space-around;
                align-items: center;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
                color: #DDDDDD;
            }
            .detail-field {
                margin-top: 5px;
            }
            .film-item {
                margin-top:5px;
            }
            .hidden-column {
                opacity: 0;
            }
            .icon-search {
                position: relative;
                top: 28px;
                left: 186px;
                color: #00000085;
            }
            .order-icon {
                transform: rotate(90deg);
            }

        </style>

        <iron-ajax id="ajaxPeople"
            method="GET"
            on-error="_ajaxError"
            on-response="_ajaxPeopleCallback"></iron-ajax>

        <iron-ajax id="ajaxFilms"
            method="GET"
            on-response="_ajaxFilmsCallback"></iron-ajax>

        <div class="row">
            <div class="col-xs-12 main-title">
                {{people.length}} People from {{planetName}}
            </div>
        </div>

        <iron-media-query query-matches="{{hidden}}" query="(max-width: 700px)"></iron-media-query>

        <div class="row">
            <div class="col-xs-12">
                <iron-icon icon="search" class="icon-search"></iron-icon>
                <star-searcher
                    value="{{searchValue}}"
                    placeholder="Search by name">
                </star-searcher>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <vaadin-grid items="{{people}}" id="peopleGrid" on-active-item-changed="_onActiveItemChanged">

                    <template class="row-details">
                        <div class="row top-xs detail-content">
                            <div class="col-xs-11">

                                <div class="row center-xs">
                                    <div class="col-xs-10 detail-title sub-title">
                                        <span>{{item.name}}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-4 detail-field">Gender: [[item.gender]]</div>
                                    <div class="col-xs-6 col-sm-4 detail-field">Eye color: [[item.eye_color]]</div>
                                    <div class="col-xs-6 col-sm-4 detail-field">Hair color: [[item.hair_color]]</div>
                                    <div class="col-xs-6 col-sm-4 detail-field">Birth Year: [[item.birth_year]]</div>

                                    <div class="col-xs-6 col-sm-4 detail-field">Height: [[item.height]] cm</div>
                                    <div class="col-xs-6 col-sm-4 detail-field">Mass: [[item.mass]] kg</div>
                                    <div class="col-xs-6 col-sm-4 detail-field">Skin Color: [[item.skin_color]]</div>
                                    <div class="col-xs-6 col-sm-4 detail-field">Birth Year: [[item.birth_year]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 detail-field">Films:</div>
                                    <div class="col-xs-1 hidden-column">
                                        <ul>
                                            <template is="dom-repeat" items="[[item.films]]" as="film">
                                                <li class="film-item hidden">.</li>
                                            </template>
                                        </ul>
                                    </div>
                                    <div class="col-xs-11">
                                        <ul>
                                            <template is="dom-repeat" items="[[itemFilms]]" as="film">
                                                <li class="film-item">[[film.title]] - [[film.release_date]] - Directed by: [[film.director]]</li>
                                            </template>
                                        </ul>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </template>

                    <vaadin-grid-column>
                        <template class="header">
                            <div class="cell first">Name
                                <paper-icon-button icon="chevron-left" class="order-icon" on-tap="_orderDown"></paper-icon-button>
                                <paper-icon-button icon="chevron-right" class="order-icon" on-tap="_orderUp"></paper-icon-button>
                            </div>

                        </template>
                        <template><div class="cell first">[[item.name]]</div></template>
                    </vaadin-grid-column>

                    <vaadin-grid-column hidden="[[hidden]]">
                          <template class="header"><div class="cell">Pilot Skills</div></template>
                          <template><div class="cell">[[_getPersonSkill(item)]]</div></template>
                    </vaadin-grid-column>

                    <vaadin-grid-column hidden="[[hidden]]">
                          <template class="header"><div class="cell">Films</div></template>
                          <template><div class="cell">[[item.films.length]]</div></template>
                    </vaadin-grid-column>

                    <vaadin-grid-column>
                          <template class="header"><div class="cell"></div></template>
                          <template>
                              <div class="cell numeric">
                                  <paper-button on-tap="_goToPersonsCard">View card</paper-button>
                                  <paper-icon-button on-tap="_goToPersonsCard" icon="chevron-right"></paper-icon-button>
                              </div>
                          </template>
                    </vaadin-grid-column>

                </vaadin-grid>
            </div>
        </div>

    </template>

    <script>

    /**
     * @customElement
     * @polymer
     */
    class StarPeople extends ReduxMixin(Polymer.Element) {
        static get is() { return 'star-people'; }
        static get properties() {
            return {
                people: {
                    type: Array,
                    value: []
                },
                tempList: {
                    type: Array,
                    value: []
                },
                route: {
                    statePath: 'route',
                    observer: '_routeChanged'
                },
                person: {
                    statePath: 'person'
                },
                planet: {
                    statePath: 'planet',
                    observer: '_planetChanged'
                },
                itemFilms: {
                    type: Array,
                    value: [{title:'dsaas'}, {title:'dsadsa888'}]
                },
                tempItemFilms: {
                    type: Array,
                    value: []
                },
                planetName: {
                    type: String,
                    value: 'all the Universe'
                },
                searchValue:{
                    type: String,
                    observer: '_searchValueChanged'
                }
            };
        }

        /*
         * Redux dispatchers
         */
        static get actions() {
            return {
                setPerson(obj){
                    return {
                        type: 'SET_PERSON',
                        person: obj
                    };
                }
            };
        }

        ready(){
            super.ready();

            let url = 'https://swapi.co/api/people/';
            this._loadPeople(url);
        }

        _loadPeople(url){
            this.$.ajaxPeople.url = url;
            this.$.ajaxPeople.generateRequest();
        }

        /*
         * Update the people list with the API response
         * and make another http request if there is a next page available.
         */
        _ajaxPeopleCallback(e){
            if(!e.detail.response || !e.detail.response.results) return;

            this.tempList = this.tempList.concat(e.detail.response.results);
            this.set('people', this.tempList);

            if(e.detail.response.next){
                this._loadPeople(e.detail.response.next);
                this._setGridHeight();
            }else {
                this._setGridHeight();
            }
        }

        /*
         * Receives a Planet url and returns its ID
         */
        _getPlanetIdFromUrl(urlString){
            return parseInt( urlString.split('/')[5] );
        }

        /*
         * Calculate the grid height to avoid inner scroll
         */
        _setGridHeight(detailHeight){
            detailHeight = detailHeight || 0;

            let totalHeight = (this.people.length * 40) + detailHeight + 200;
            totalHeight = totalHeight >= 900 ? totalHeight : 900;
            this.$.peopleGrid.style.height = totalHeight + 'px';
        }

        /*
         * Prepare the grid so that the selected Person's details are shown
         */
        _onActiveItemChanged(e){
            this.$.peopleGrid.detailsOpenedItems = [e.detail.value];
            if(!e.detail.value) return;

            // Set films information
            this._setFilmsInformation(e.detail.value.films);

            // Set the detailed information to the expanded row
            this.$.peopleGrid.detailsOpenedItems = [e.detail.value];

            // calculate the new grid height, adding the detail information
            let heightDetails = e.detail.value.films ? e.detail.value.films.length : 0;
            heightDetails *= 20;  // film list height
            heightDetails += 215; // fixed detail height
            this._setGridHeight(heightDetails);
        }

        /*
         * Iterate the Person's films and make an httprequest for each,
         * to obtain it's information
         */
        _setFilmsInformation(films){
            this.set('itemFilms', []);
            this.set('tempItemFilms', []);

            if (!films) return;

            // Iterate over the films array to get the info async
            for (let i = 0; i < films.length; i++){
                this.$.ajaxFilms.url = films[i];
                this.$.ajaxFilms.generateRequest();
            }
        }

        /*
         * Update the binded array to list the films in the item detail
         */
        _ajaxFilmsCallback(e){
            if(!e.detail.response) return;

            this.tempItemFilms.push(e.detail.response);
            this.set('itemFilms', []);
            this.set('itemFilms', this.tempItemFilms);
        }

        /*
         * Sumarize how many vehicles and starships that this person is able to pilot
         */
        _getPersonSkill(item){
            if (!item) return '';

            let skills = 0;
            skills += item.starships ? item.starships.length : 0;
            skills += item.vehicles ? item.vehicles.length : 0;

            return skills;
        }

        _goToPersonsCard(e){
            this.dispatch('setPerson', e.model.__data.item);
            page('/person');
        }

        _planetChanged(){
            if (this.planet && this.planet.name){
                this.set('planetName', this.planet.name);
                this._filterByPlanet();
            }else {
                this.set('planetName', 'all the Universe');
            }
        }

        /*
         *  Filter the list of people with the search value typed
         */
        _searchValueChanged(){
            if(!this.searchValue || this.searchValue.length == 0){
                this.set('people', []);
                this.set('people', this.tempList);
                this.set('planetName', 'all the Universe');
                this._setGridHeight();
                return;
            }

            // Close detail view if it opened
            this.$.peopleGrid.detailsOpenedItems = [];

            // transform to upper case and compare to filter
            let filteredList = this.tempList.slice().filter( person => {
                return person.name.toUpperCase().indexOf(this.searchValue.toUpperCase() ) > -1;
            });

            this.set('people', []);
            this.set('people', filteredList);
            this.set('planetName', 'all the Universe');
            this._setGridHeight();
        }

        _filterByPlanet(){
            // show all the people if there is not a selected Planet
            if(!this.planet || !this.planet.url){
                this.set('people', []);
                this.set('people', this.tempList);
                this._setGridHeight();
                return;
            }

            let filteredList = this.tempList.slice().filter( person => {
                return person.homeworld === this.planet.url;
            });

            this.set('people', []);
            this.set('people', filteredList);
            this._setGridHeight();
        }

        _routeChanged(){
            if(this.route == 'people'){
                window.scrollTo(0,0);
            }
        }

        _orderDown(){
            let orderedList = this.people.slice();
            orderedList.sort( (p1, p2) => {
                return (p1.name > p2.name) ? 1 : ( (p2.name > p1.name) ? -1 : 0);
            });

            this.set('people', []);
            this.set('people', orderedList);
            this._setGridHeight();
        }

        _orderUp(){
            let orderedList = this.people.slice();

            orderedList.sort( (p1, p2) => {
                return (p2.name > p1.name) ? 1 : ( (p1.name > p2.name) ? -1 : 0);
            });

            this.set('people', []);
            this.set('people', orderedList);
            this._setGridHeight();
        }
    }

    window.customElements.define(StarPeople.is, StarPeople);
  </script>
</dom-module>
