<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">

<link rel="import" href="../css-elements/main-css.html">
<link rel="import" href="../css-elements/flexboxgrid-css.html">
<link rel="import" href="../css-elements/vaadingrid-css.html">

<dom-module id="star-person">
    <template>

        <style include="main-css flexboxgrid-css">
            .person-picture {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                box-shadow: 0px 7px 10px #151414
            }
            .picture-fixer {
                height: 100px;
            }
            .picture-container {
                height: 100px;
                margin-top: -100px;
            }
            .info-container {
                min-height: 400px;
                padding-top: 130px;
                padding-bottom: 30px;

                border-top: solid 2px #FFE900;
                background-image: url('/images/hash.png');
                background-size: 7px;
                background-repeat: repeat-x;
                background-position: top left;
                background-color:rgba(128, 128, 128, 0.60);

                color: #FFF;
            }
            .data-title {
                width: 80%;
                border-bottom: 1px solid grey;
                padding-bottom: 10px;
                margin-bottom: 10px;
                color: #FFE900;
            }
            .data-field {
                text-align: -webkit-center;
                height: 60px;
                color: #FFF;
            }
            .planet-container {
                margin-top: 20px;
                background-image: url('/images/planet.jpg');
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: top left;
                height: 150px;
            }
            .planet-title {
                margin-top: 30px;
            }
            .planet-info-container {
                min-height: 400px;
                margin-top: 20px;
                padding-top: 30px;
                background-color:rgba(128, 128, 128, 0.60);
            }
            .button-planet {
                text-transform: none;
            }
            .button-planet-container {
                text-align:center;
                margin-bottom:50px
            }
            .goback-container {
                color: #FFF;
                margin-left: -30px;
                font-weight: 300
                font-size: 15px;
            }


        </style>

        <iron-ajax id="ajaxPlanet"
            method="GET"
            on-error="_ajaxError"
            on-response="_ajaxPlanetCallback"></iron-ajax>

        <div class="row">
            <div class="col-xs-12 main-title">
                [[person.name]]
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="row picture-fixer">
                    <div class="col-xs-12"></div>
                </div>

                <div class="col-xs-12 goback-container">
                    <paper-icon-button on-tap="_goToList" icon="chevron-left"></paper-icon-button>
                    <paper-button on-tap="_goToList">Go back</paper-button>
                </div>

                <div class="row center-xs picture-container">
                    <div class="col-xs-12">
                        <img id="personPicture"
                            on-error="_pictureError"
                            class="person-picture" alt="[[person.name]]">
                    </div>
                </div>

                <div class="row center-xs info-container">

                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Gender</div>
                        [[person.gender]]
                    </div>

                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Eye color</div>
                        [[person.eye_color]]
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Hair color</div>
                        [[person.hair_color]]
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Birth Year</div>
                        [[person.birth_year]]
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Height</div>
                        [[person.height]] cm
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Mass</div>
                        [[person.mass]] kg
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Skin Color</div>
                        [[person.skin_color]]
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Birth Year</div>
                        [[person.birth_year]]
                    </div>
                </div>

                <div class="row planet-container">
                    <div class="col-xs-12">
                        <div class="row center-xs">
                            <div class="col-xs-12 col-sm-8 sub-title planet-title">
                                Planet [[planet.name]]
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row planet-info-container">
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Climate</div>
                        [[planet.climate]]
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Gravity</div>
                        [[planet.gravity]]
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Diameter</div>
                        [[planet.diameter]] Km
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Population</div>
                        [[planet.population]]
                    </div>

                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Rotation Period</div>
                        [[planet.rotation_period]] Hs
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Orbital Period</div>
                        [[planet.orbital_period]] days
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Gravity</div>
                        [[planet.gravity]] standard Gs.
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Terrain</div>
                        [[planet.terrain]]
                    </div>
                    <div class="col-xs-6 col-sm-3 data-field">
                        <div class="data-title">Residents</div>
                        [[planet.residents.length]] people
                    </div>

                    <div class="col-xs-12 button-planet-container">
                        <paper-button
                            on-tap="_onPlanetButtonTap"
                            class="button-primary button-planet">
                            View all people from {{planet.name}}
                        </paper-button>
                    </div>

                </div>

            </div>
        </div>


    </template>

    <script>

    /**
     * @customElement
     * @polymer
     */
    class StarPerson extends ReduxMixin(Polymer.Element) {
        static get is() { return 'star-person'; }
        static get properties() {
            return {
                route: {
                    statePath: 'route',
                    observer: '_routeChanged'
                },
                person: {
                    statePath: 'person',
                    observer: '_personChanged'
                },
                planet: {
                    type: Object,
                    value: {}
                }
            };
        }

        /*
         * Redux dispatcher
         */
        static get actions() {
            return {
                setPlanet(obj){
                    return {
                        type: 'SET_PLANET',
                        planet: obj
                    };
                }
            };
        }

        _routeChanged(){
            if(this.route == 'person' && (!this.person || !this.person.name) ){
                page('/');
            }else if (this.route == 'person'){
                window.scrollTo(0,0);
            }
        }

        _personChanged(){
            if (!this.person || !this.person.url) return;

            let personId = this.person.url.split('/')[5];
            this._getPlanetData();
            this.$.personPicture.src = '/images/people/' + personId +'.jpg';
        }

        _getPlanetData(){
            this.$.ajaxPlanet.url = this.person.homeworld;
            this.$.ajaxPlanet.generateRequest();
        }

        _ajaxPlanetCallback(e){
            this.set('planet', e.detail.response);
        }

        /*
         * Updates the redux store with the selected planet
         * and change route to people list
         */
        _onPlanetButtonTap(){
            this.dispatch('setPlanet', this.planet);
            page('/people');
        }

        /*
         * Go back to the list of people
         */
        _goToList(){
            page('/people');
        }

        /*
         * Image was not found, then load default image
         */
        _pictureError(){
            // avoid infinite looping
            if(this.loaded) return;

            this.$.personPicture.src = '/images/logo.jpg';
            this.loaded = true;
        }
    }

    window.customElements.define(StarPerson.is, StarPerson);
  </script>
</dom-module>
