<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="/src/js/page.min.js"></script>

<script>

    (function() {

        let app = document.querySelector('#mainApp');
        let router = document.querySelector('#lazyLoader');

        // This one has the NEXT() MUST be the last called
        function commonHandler(ctx, next) {
            // Any common behavior
            next();
        }

        // Default page
        page('/', commonHandler, function () {
            router.setRoute('people');
        });

        page('/people', commonHandler, function () {
            router.setRoute('people');
        });

        page('/person', commonHandler, function () {
            router.setRoute('person');
        });

        // add #! before urls
        page({
            hashbang: true,
            decodeURLComponents: false
        });


    })();
    // });
</script>
