<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../redux-mixin.html">

<dom-module id="lazy-loader">
  <template>
     <style></style>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LazyLoader extends ReduxMixin(Polymer.Element) {
        static get is() { return 'lazy-loader'; }
        static get properties() {
            return {
                //
            };
        }

        static get actions(){
            return {
                setRouteName(route){
                    return {
                        type: 'SET_ROUTE',
                        route: route
                    }
                },

                /* In case a subroute is necessary later*/
                setSubroute(subroute){
                    return {
                        type: 'SET_SUBROUTE',
                        subroute: subroute
                    }
                }
            };
        }

        setRoute(routeName){
            // Redux displacher to change storage
            this.dispatch('setRouteName', routeName);

            // Lazy load the required element
            this._instanceElement(routeName);
        }

        _instanceElement(routeName){
            let resolvedPageUrl = '/src/star-' + routeName + '/star-' + routeName + '.html';
            Polymer.importHref(resolvedPageUrl, function(){
                // console.log('import succeed ', routeName);
            }, this._showPage404, true);
        }

        _showPage404(){
            // TODO: implement a Not Found page
        }

    }

    window.customElements.define(LazyLoader.is, LazyLoader);
  </script>
</dom-module>
