<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../redux-mixin.html">

<link rel="import" href="../css-elements/main-css.html">
<link rel="import" href="../css-elements/flexboxgrid-css.html">

<link rel="import" href="../star-people/star-people.html">

<dom-module id="star-app">
    <template>
        <style include="main-css flexboxgrid-css">

            app-header {
                --app-header-background-front-layer: {
                    background-image: url('/images/header.jpg');
                };
                --app-header-shadow: {
                    box-shadow: inset 0px 5px 2px -3px rgba(0, 0, 0, 0.2);
                };
            }
            paper-progress {
                display: block;
                width: 100%;
                --paper-progress-active-color: #F12B24;
                --paper-progress-container-color: transparent;
                --paper-progress-height: 3px;
            }


            .main-content {
                background-image: url('/images/back.jpg');
                background-size:cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                /* background-repeat: no-repeat, repeat; */
            }

        </style>


        <div class="row main-content">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <iron-pages attr-for-selected="page" selected="[[route]]">
                    <star-people page="people"></star-people>
                    <star-person page="person"></star-person>
                </iron-pages>
            </div>
        </div>



    </template>

    <script>

    /**
    * @customElement
    * @polymer
    */
    class StarApp extends ReduxMixin(Polymer.Element) {
        static get is() { return 'star-app'; }
        static get properties() {
            return {
                route: {
                    type: String,
                    statePath: 'route',
                    // observer: '_routeChanged'
                },
                person: {
                    type: String,
                    statePath: 'person'
                }
            };
        }
    }

    window.customElements.define(StarApp.is, StarApp);
    </script>
</dom-module>
