<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../css-elements/flexboxgrid-css.html">

<dom-module id="star-searcher">
<template>

    <style include="flexboxgrid-css">
        :host {
            display: block;
            --paper-searchbox-light-background: rgba(255, 255, 255, 0.15);
            --paper-searchbox-light-color: rgba(255, 255, 255, 0.9);
            --paper-searchbox-light-background-hover: rgba(255, 255, 255, 0.225);
            --paper-searchbox-light-color-hover: var(--paper-searchbox-light-color);
            --paper-searchbox-light-background-raised: #FFF;
            --paper-searchbox-light-color-raised: #333;
            --paper-searchbox-dark-background: rgba(0, 0, 0, 0.15);
            --paper-searchbox-dark-color: rgba(0, 0, 0, 0.9);
            --paper-searchbox-dark-background-hover: rgba(0, 0, 0, 0.225);
            --paper-searchbox-dark-color-hover: var(--paper-searchbox-dark-color);
            --paper-searchbox-dark-background-raised: var(--paper-grey-800);
            --paper-searchbox-dark-color-raised: #FFF;
        }
        #container:hover {
            background: var(--paper-searchbox-background-hover, --paper-searchbox-light-background-hover);
            color: var(--paper-searchbox-color-hover, --paper-searchbox-light-color-hover);
        }
        #container {
            width: 100%;
            margin: 0 auto;
            border-radius: 2px;
            background: var(--paper-searchbox-background, --paper-searchbox-light-background);
            color: var(--paper-searchbox-color, --paper-searchbox-light-color);
            transition: var(--paper-searchbox-transition, 0.25s);
        }
        #container.active {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            background: var(--paper-searchbox-background-raised, --paper-searchbox-light-background-raised);
            color: var(--paper-searchbox-color-raised, --paper-searchbox-light-color-raised);
        }
        input{
            background: none;
            font: inherit;
            font-size: 20px;
            border: none;
            outline: none;
            margin: 0;
            padding: 0.25em 0;
            width: 100%;
            display: inline-block;
            float: left;
            color: inherit;
            cursor: default;
        }
        ::-webkit-input-placeholder{
            color: inherit;
            opacity: 0.5;
        }
        #pad{
            padding: 0.5em 1em;
        }
    </style>

    <div class="row middle-xs" id="container">
        <div class="col-xs-12">
            <input is="iron-input" id="input" autocomplete="off"
                placeholder="{{placeholder}}" value="{{value::input}}"
                on-focus="_onFocus"
                on-blur="_onBlur"
                on-keyup="_onInput"
                on-change="_onInput">
            </iron-input>
            <div style="clear:both"></div>
        </div>
    </div>


</template>

<script>
/**
 * @customElement
 * @polymer
 */
class StarSearcher extends Polymer.Element {
    static get is() { return 'star-searcher'; }
    static get properties() {
        return {
            /**
             * The value of the searchbox
             */
            value: {
                type: String,
                value: '',
                notify: true
            },
            /**
             * Placeholder text when searchbox is empty
             */
            placeholder: {
                type: String,
                value: 'Search'
            },
            /**
             * Raise searchbox is it's focused
             */
            raiseOnActive: {
                type: Boolean,
                value: false
            },
            /**
             * Raise searchbox if it has value
             */
            raiseOnValue: {
                type: Boolean,
                value: false
            },
            /**
             * Always raise the searchbox whether it is active or not, or whether is has value or not
             */
            raiseForced: {
                type: Boolean,
                value: false
            },
            /**
             * Do not show any effects when hovering the searchbox
             */
            noHover: {
                type: Boolean,
                value: false
            },
            /**
             * Change default icon to whatever you like
             */
            icon: {
                type: String,
                value: 'search'
            }
        };
    }

    focus() {
        this.$.input.focus();
    }
    _onFocus() {
        this.$.container.classList.add('active');
    }
    _onBlur() {
        this.$.container.classList.remove('active');
    }
    _onInput() {
        var isEmpty = (this.value == '' || this.value == void(0));
        this.$.container.classList.toggle('has-value', !isEmpty);
    }

}

window.customElements.define(StarSearcher.is, StarSearcher);
</script>
</dom-module>
